logs
target
!.mvn/wrapper/maven-wrapper.jar
.swp
.DS_Store

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.idea
*.iws
*.iml
*.ipr

api_config.properties
location_cache.properties
*.csv
*.zip
*.jpg
